doctype html
html

  head
    title nodehub :)
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet')
    link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')

  body
    nav(class='navbar navbar-inverse navbar-fixed-top')
      .container
        ul(class='nav navbar-nav')
          li
            a(href='#home') home
          li
            a(href='#about') about

    .home
      .container
        .row
          .col-md-2

          .col-md-8
            h1 welcome to nodehub

            table
              tr
                th date
                th hours completed
                th impediments
                th comments
              tr
                td
                  input(name='date', type='text')
                td
                  input(name='hours', type='text')
                td
                  input(name='impediments', type='text')
                td
                  input(name='comments', type='text')
                td
                  input(name='save-data', id='save-data', type='button', value='save data')
          .col-md-2
            

    

  script(src='vendor/jquery/dist/jquery.min.js')

